[Unit]
Description=Proxy to control a Boss Katana Mk2 Head with a Behringer FCB1010 running Wino2 firmware

[Service]
Type=exec
ExecStart=/usr/bin/python ${PATH_TO_KATANA_MIDI_PROXY}/katana_midi_proxy.py

[Install]
WantedBy=multi-user.target

