[Unit]
Description=Proxy to control a Boss Katana Mk2 Head using ActitioN USB controllers

[Service]
Type=exec
ExecStart=/usr/bin/python /home/rob/src/katana_midi_proxy/katana_midi_proxy.py

[Install]
WantedBy=multi-user.target

